.team-section {
  text-align: center;
  margin: 0 auto;
  padding-top: 94px;
  padding-bottom: 94px;
  background: #f5f4fa;
}

.team-list {
  display: flex;
  margin-left: -30px;
  flex-wrap: wrap;
}

.team-list-item {
  width: calc(100% / 4 - 30px);
  margin-left: 30px;
  background: var(--alternative-color);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team-content {
  padding: 30px;
}

.team-title {
  font-weight: bold;
  font-size: 36px;
  line-height: calc(42 / 36);
  letter-spacing: 0.03em;
  padding-bottom: 50px;
}
.title-team-members {
  font-weight: 500;
  font-size: 16px;
  line-height: calc(19 / 16);
  letter-spacing: 0.03em;
  padding-bottom: 10px;
}
.vocation-team-members {
  font-size: 16px;
  line-height: calc(19 / 16);
  letter-spacing: 0.03em;
  color: var(--after-title-text-color);
  margin-bottom: 16px;
}

.team-socials-list {
  display: flex;
  justify-content: center;
}

.team-socials-item {
  & + & {
    margin-left: 10px;
  }
}

.team-socials-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #afb1b8;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: var(--accent-color);
    color: #ffffff;
  }
}

.team-socials-icon {
  fill: currentColor;
}
