.work-title {
  text-align: center;
  font-weight: bold;
  font-size: 36px;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
  line-height: calc(42 / 36);
}

.work-list {
  display: flex;
  margin-left: -30px;
  flex-wrap: wrap;
}

.work-list-item {
  margin-left: 30px;
  position: relative;
}

.work-description {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 370px;
  padding-top: 27px;
  padding-bottom: 27px;
  text-align: center;
  background-color: rgba(47, 48, 58, 0.8);
}

.work-item-title {
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--alternative-color);
}
